.project-card{

    border: 1px solid #e9eff0;
    width: 700px;
    height: 250px;
    margin: 2% 0%;
    padding:0% 10%;
    box-shadow: 0 5px 10px 0 transparent;
    cursor: pointer; 
  }
  
  h3{
    color: #295497;
    margin-top: -5%;
    font-weight: bold;
    font-size: large;
  }
  
  
  .icone-project {
    width: 40px;
    margin-top: 3%;
    margin-left: -111%;
    background-color: #f5f6f7;
    padding: 5px;
  }
  
  .delete-edit-btns {
    display: flex;
    margin: 20px;
  }
  
  .delete-edit-btns img {
    width: 30px;
    margin: 10px;
    cursor: pointer;
  }